@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-primary hover:underline underline-offset-4;
  }

  .container {
    @apply !max-w-screen-xl mx-auto px-6 md:px-24;
  }
}

@layer utilities {
  .bg-grid {
    background-image:
      linear-gradient(to right, rgb(248 248 248) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(248 248 248) 1px, transparent 1px);
    background-size: 1rem 1rem;
    background-position: center center;
  }
}