@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Instrument+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-primary hover:underline;
  }

  footer a {
    @apply text-white hover:no-underline;
  }

  .container {
    @apply !max-w-screen-xl mx-auto px-6 md:px-24;
  }
}

@layer utilities {
  .bg-grid {
    background-image:
      linear-gradient(to right, rgb(245 245 245) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(245 245 245) 1px, transparent 1px);
    background-size: 1rem 1rem;
    background-position: center center;
  }

  .menu-item {
    @apply block py-2 lg:py-0 lg:inline-block;
  }

  .menu .menu-item:first-child {
    @apply lg:ml-0;
  }

  .menu .menu-item:last-child {
    @apply lg:mr-0;
  }

  .menu-item a {
    @apply text-black hover:text-primary hover:no-underline;
  }

  .breadcrumb {
    background-image: url('../img/breadcrumb-bg-adolfo-felix.jpg');
    @apply w-full py-20 bg-cover;
  }

  .inline-bullets>li {
    display: inline;
  }

  .inline-bullets>li::after {
    @apply px-1;
    content: "\2022";
  }

  .inline-bullets>li:last-child::after {
    @apply p-0;
    content: "";
  }
}