@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Miriam Libre', 'Roboto', Tahoma, sans-serif;
}

a {
    @apply text-primary hover:underline;
}

footer a {
    @apply text-white hover:no-underline;
}

.menu-item {
    @apply block py-2 lg:py-0 lg:inline-block;
}

.menu .menu-item:first-child {
    @apply lg:ml-0;
}

.menu .menu-item:last-child {
    @apply lg:mr-0;
}

.menu-item a {
    @apply text-black hover:text-primary hover:no-underline;
}

.breadcrumb {
    background-image: url('../img/breadcrumb-bg-adolfo-felix.jpg');
    @apply w-full py-20 bg-cover;
}

.inline-bullets>li {
    display: inline;
}

.inline-bullets>li::after {
    @apply px-1;
    content: "\2022";
}

.inline-bullets>li:last-child::after {
    @apply p-0;
    content: "";
}